<mat-card class="directory-container">
  <mat-toolbar color="primary" class="p-0">
    <button class="pull-right back-btn" [class.disabled]="url === '/'" [disabled]="url === '/'" (click)="goBack()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
    <mat-form-field class="example-form-field full-width">
      <input matInput type="text" [(ngModel)]="url"/>
      <button mat-button *ngIf="url" matSuffix mat-icon-button aria-label="Clear" (click)="goToUrl()">
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </button>
    </mat-form-field>
    <button mat-fab color="warn" class="pull-right add-btn" [class.disabled]="!isValidUrl()" [disabled]="!isValidUrl()" (click)="onNewFolderAdd()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
  </mat-toolbar>
  <div class="folder-container">
    <div [hidden]='!isValidUrl()' *ngFor = 'let folder of folderData.subFolders' class="folders pt-10 pb-10 col-md-3 col-sm-3 cols-xs-6">
        <i class="fa fa-folder" aria-hidden="true" (dblclick)='openFolder(folder.folderName)'></i>
      {{folder.folderName}}
    </div>
    <div class="no-data" *ngIf="folderData.subFolders.length === 0 && isValidUrl()">
      This folder is empty.
    </div>
    <div class="no-data" *ngIf="!isValidUrl()">
      This folder is invalid.
    </div>
  </div>
</mat-card>
