/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    padding: 0;
    margin: 0;
}

body{
    background: #eee;
}
.full-width{
    width: 100%;
}

.p-0{
    padding: 0px !important;
}
.pb-10{
    padding-bottom: 10px !important; 
}
.pb-20{
    padding-bottom: 20px !important; 
}
.pb-30{
    padding-bottom: 30px !important; 
}
.pt-10{
    padding-top: 10px !important; 
}
.pt-20{
    padding-top: 20px !important; 
}
.pt-30{
    padding-top: 30px !important; 
}
.disabled{
 cursor: not-allowed;
}